<!doctype html>
<html class="no-js" lang="de" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Schwafenthaeler + 1</title>
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="components/photoswipe/dist/photoswipe.css">
	<link rel="stylesheet" href="components/photoswipe/dist/default-skin/default-skin.css">
</head>
<body>
	<div class="row">
		<div class="large-12 columns">
			<h1><a href="/">Schwafenthaeler + 1</a></h1>
		</div>
	</div>

	<div class="row">
		<div class="large-8 medium-8 columns">

			[% content %]

		</div>

		<div class="large-4 medium-4 columns">
			<h5>Die aktuellsten Einträge:</h5>

			<ol class="recent">
				[% FOR entry IN vars.recent %]
				<li><a href="/[% entry.id %]"><strong>[% entry.title %]</strong> vom [% entry.date %]</a></li>
				[% END %]
			</ol>
		</div>
	</div>

	[% INCLUDE photoswipe.tt %]

	<script src="js/vendor/jquery.js"></script>
	<script src="components/photoswipe/dist/photoswipe.min.js"></script>
	<script src="components/photoswipe/dist/photoswipe-ui-default.min.js"></script>
	<script src="js/vendor/what-input.js"></script>
	<script src="js/vendor/foundation.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
