[% FOR entry IN entries %]
<article>
	<header>
		<h2>[% entry.title %]</h2>
		<p class="date">[% entry.date %]</p>
	</header>

	[% FOR image IN entry.images %]
		<img class="thumbnail" alt="[% image %]" src="/entries/[% entry.id %]/[% image %]">
	[% END %]

	[% entry.text_rendered %]

</article>
[% END %]
